:root {
    --color-1: #36151e;
    --color-2: #672839;
    --color-3: #274769;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(54, 21, 30);
    background: linear-gradient(
        90deg,
        rgba(54, 21, 30, 1) 0%,
        rgba(39, 71, 105, 1) 50%,
        rgba(103, 40, 57, 1) 100%
    );
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    min-height: 150px;
    justify-content: center;
}

.h1-form {
    align-content: center;
    background: rgb(54, 21, 30);
    background: linear-gradient(
        90deg,
        rgba(54, 21, 30, 0.507) 0%,
        rgba(39, 71, 105, 0.363) 50%,
        rgba(103, 40, 57, 0.418) 100%
    );
    border-radius: 20px;
    border: 1px solid rgb(54, 21, 30);
    box-shadow: 0px 5px 30px 7px black;
    color: rgb(207, 203, 203);
    margin-top: 10px;
    max-height: 100px;
    max-width: 450px;
    min-width: 300px;
    padding: 20px;
}

.main-container{
    flex: 1;
}

.form-container {
    background: #1d0b10;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.548);
    margin: 0px auto;
    max-width: 500px;
    padding: 20px;
}

.label-form {
    color: #f9f0f3;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-form,
.textarea-form {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.input-form {
    background-color: #d2899d;
    color: #1d0b10;
    outline: none;
}

.submit-btn-form {
    background: #f9f0f3;
    border-radius: 5px;
    border: none;
    color: var(--color-1);
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 15px;
    transition: all ease-in 0.3s;
}

.submit-btn-form:hover {
    background-color: #d1899e;
}

.footer-container {
    background-color: rgba(39, 71, 105, 0.3);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-top: 20px;
}

.footer-text {
    margin: 5px 0;
}

.footer-link {
    color: #f9f0f3;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    text-decoration: underline;
}